{% extends 'base.html' %}

{% block title %}
Listado de maestros
{% endblock %}



{% block content %}
<div class="profile">
    <h3>Listado de maestros</h3>

    <div class="clases">
        <table>
            <th>Nombre</th>
            <th>Horas contrato</th>
            <th>Horas este mes</th>
            <th>Clases este mes</th>
            <th></th>
            {% for maestro in maestros %}
            <tr class="row">
                <td>{{maestro.nombres}} {{maestro.apellidos}}</td>
                <td>{{maestro.horas_contrato}}</td>
                <td>{{maestro.horas_este_mes}}</td>
                <td>{{maestro.clases_este_mes}}</td>
                <td><a class="sml-button" href="{% url 'detalle maestro' maestro.pk %}">Detalles</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>                
</div>

<!-- ---PAGINACION--- -->    
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}