{% extends 'base.html' %}

{% block title %}
Listado de clases
{% endblock %}



{% block content %}
<div class="profile">
    <h3>Listado de clases</h3>
    {% load humanize %}
    <div class="clases">
        <table>
            <th>Maestro</th>
            <th>Tipo</th>
            <th>Asignatura</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Duración</th>
            <th>Estatus</th>
            {% for clase in clases %}
            <tr class="row">
                <td>{{clase.maestro}}</td>
                <td>{{clase.tipo}}</td>
                <td>{{clase.asignatura}}</td>
                <td>{{clase.fecha|naturalday}}</td>
                <td>{{clase.hora}}</td>
                <td>{{clase.duracion}} hr</td>
                <td>{{clase.estatus}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>                
</div>

<!-- ---PAGINACION--- -->    
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}